.App {
    text-align: center;
}

h1 {
    padding: 1em;
    font-weight: 400;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    padding: 1em;
    justify-content: center;
}

@media only screen and (max-width: 650px) {
    .image {
        max-width: 60%;
    }
}

button {
    display: flex;
    padding: 1em;
    margin: 3em;
}
